<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="format-detection" content="telephone=no,date=no">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>东海皇氏天然水晶旗舰店</title>
<meta name="description" content="">
<meta name="author" content="WEIBA.INC">
<link rel="stylesheet" type="text/css"
	href="assets/css/wap/base.css">
<link rel="stylesheet" type="text/css"
	href="assets/css/wap/common.css">
<link rel="stylesheet" type="text/css"
	href="assets/css/wap/zAlert.css">
<link rel="stylesheet" type="text/css"
	href="assets/css/iconfont/iconfont.css">

</head>
<iframe id="__WeixinJSBridgeIframe_SetResult" style="display: none;"></iframe>
<iframe id="__WeixinJSBridgeIframe" style="display: none;"></iframe>

<body wmall-title="杭州淘正网络技术有限公司"
	wmall-icon="http://0.s.bama555.com/0/wbmall/shop/1504/08/5524a2c93b6f9.png"
	wmall-link="http://Rhztzw.shop.bama555.com/"
	wmall-desc="淘正饰品为广大藏友提供鉴赏知识，行业内幕，美品欣赏等诸多内容，为全国文玩爱好者，从业者及各方合作伙伴提供咨询，论坛交流，等多元化和跨界合作为一体的整合服务。您的支持是我们发展的最大动力！"
	style="padding: 50px 0px 0px;">
	<!--直销版页头-->
	<style type="text/css">
#wrap {
	padding-top: 0 !important;
}
</style>
	<!---->

	<link rel="stylesheet" type="text/css" href="assets/template/default/css/style.css">
	<div id="wrap">
		<div class="focus-box" style="">
			<img id="shoplogo1"
				src="http://0.s.bama555.com/0/wbmall/shop/1504/08/5524a2c93b6f9.png"
				style="width: 50px; height: 50px;">
			<p class="shop-names">
				<span>欢迎进入<label>杭州淘正网络技术有限公司</label></span> <span>关注公众号，享专属服务</span>
			</p>
			<a class="btn-focus js-focus"
				href="http://Rhztzw.shop.bama555.com/qrcode/focus">立即关注</a>
		</div>
		<div listorder="1" class="shop-banner-box">
			<div class="shop-banner"
				style="background-image: url(http://0.s.bama555.com/0/wbmall/design/1504/10/55278acccb396.jpg)">
				<div class="shop-logo">
					<img id="shoplogo2"
						src="http://1.s.bama555.com/1/wbmall/design/1504/22/5537094339fa9.jpg"
						data-original="http://1.s.bama555.com/1/wbmall/design/1504/22/5537094339fa9.jpg"
						alt="LOGO" style="display: block;">
				</div>
				<div class="shop-name" id="shopname" style="color: #131314">淘正饰品</div>
				<div class="shop-desc">共有72个宝贝</div>
			</div>
		</div>
		<div listorder="2" class="goods-search">
			<div class="topSearch">
				<form onsubmit="return false;">
					<div class="inp">
						<input type="search" class="custom-search-input"
							placeholder="商品搜索：请输入商品关键字">
					</div>
					<a href="javascript:void(0);">搜索</a>
				</form>
			</div>
		</div>
		<div listorder="3" class="image-list style1">
			<ul class="clearfix">
				<li style=" height: auto;"><a href="javacript:void(0)"><img style=""
						class=""
						src="http://2.s.bama555.com/2/wbmall/design/1506/18/558221fd29c38.jpg"
						data-original="http://2.s.bama555.com/2/wbmall/design/1506/18/558221fd29c38.jpg"
						alt="null" style="display: block;"> </a></li>
			</ul>
		</div>
		<div listorder="5" class="image-list style1">
			<ul class="clearfix">
				<li style="height: auto;"><a
					href="http://mp.weixin.qq.com/s?__biz=MzAwMTI4NTE4OQ==&amp;mid=215402433&amp;idx=1&amp;sn=10b83530a1d80029cf249e329354d909#rd"><img style=""
						class=""
						src="http://3.s.bama555.com/3/wbmall/design/1506/17/558149b7f0a60.jpg"
						data-original="http://3.s.bama555.com/3/wbmall/design/1506/17/558149b7f0a60.jpg"
						alt="null" style="display: block;"> </a></li>
			</ul>
		</div>
		<div listorder="6" class="shop-category1">
			<ul class="clearfix">
				<li><a style="background-color: #FFFFFF"
					href="http://Rhztzw.shop.bama555.com//cate/63615">
						<div style="text-align: center; color: #000000">水晶</div>
				</a></li>
				<li><a style="background-color: #FFFFFF"
					href="http://Rhztzw.shop.bama555.com//cate/63616">
						<div style="text-align: center; color: #000000">佛珠</div>
				</a></li>
				<li><a style="background-color: #FFFFFF"
					href="http://Rhztzw.shop.bama555.com//cate/67801">
						<div style="text-align: center; color: #000000">珍珠</div>
				</a></li>
				<li><a style="background-color: #FFFFFF"
					href="http://Rhztzw.shop.bama555.com//cate/67829">
						<div style="text-align: center; color: #000000">其他</div>
				</a></li>
			</ul>
		</div>

	</div>
	<div class="loading">
		<div class="loader">
			<i class="dot-pink"></i> <i class="dot-blue"></i>
		</div>
	</div>
	<script type="template/javascript" id="shop_banner-tpl">
    <div listorder="{{=it.listorder}}" class="shop-banner-box">
        <div class="shop-banner" style="background-image: url({{=it.param.banner_img}})">
            <div class="shop-logo"><img class="lazy" src="/assets/img/blank.gif" data-original="{{=it.param.logo_img}}" alt="LOGO"></div>
            <div class="shop-name" style="color:{{=it.param.font_color}}">{{=it.param.name}}</div>
            <div class="shop-desc">共有{{=it.param.cgoods}}个宝贝</div>
        </div>
    </div>
</script>
	<script type="template/javascript" id="nav-tpl">
    {{
        if(typeof(it.prop.display_icon) == 'undefined')
        {
            it.prop.display_icon=0;
        }
    }}
    <div listorder="{{=it.listorder}}" class="nav-list clearfix nav-style{{=it.prop.size}}">
        <ul>
            {{~it.item_list:value:index}}
            <li class="nav-item nav-lh{{=it.prop.display_icon}}" style="background-color:{{=value.bg_color}}">
                <a href="{{=value.url||'javacript:void(0)'}}">
                    {{?it.prop.display_icon!=0}}<i><img class="lazy" src="/assets/img/blank.gif" data-original="{{=value.img}}"></i>{{?}}
                    <div class="nav-title" style="color:{{=value.font_color}}">{{=value.title}}</div>
                </a>
            </li>
            {{~}}
        </ul>
    </div>
</script>
	<script type="template/javascript" id="images-tpl">
    {{var window_width=document.body.clientWidth,item_height='auto';}}
    {{?it.prop.size<4}}
    <div listorder="{{=it.listorder}}" class="image-list style{{=it.prop.size}}">
        <ul class="clearfix">
            {{
                if(it.prop.size=='1'){
                    item_height=window_width/2+'px';
                }else if(it.prop.size=='2'){
                    item_height=window_width*0.48+'px';
                }else if(it.prop.size=='3'){
                    item_height=window_width*0.31*1.3+'px';
                }
            }}
            {{~it.item_list:value:index}}
            <li style="height:{{=item_height}}">
                <a href="{{=value.url||'javacript:void(0)'}}"><img class="lazy" src="/assets/img/blank.gif" data-original="{{=value.src}}"  alt="{{=value.title}}">
                    {{?value.title}}<p>{{=value.title}}</p>{{?}}
                </a>
            </li>
            {{~}}
        </ul>
    </div>
    {{?}}
    {{?it.prop.size==4}}
    {{ var ad_w1=(window_width-24)/2;}}
    <div listorder="{{=it.listorder}}" class="image-ad clearfix images-tpl">
        <div>
            {{?it.item_list[0]}}<a href="{{=it.item_list[0].url||'javacript:void(0)'}}" style="width:{{=ad_w1}}px;height:{{=(ad_w1+8)}}px;"><img class="lazy" src="/assets/img/blank.gif" data-original="{{=it.item_list[0].src}}"  alt="{{=it.item_list[0].title}}"></a>{{?}}
        </div>
        <div>
            {{?it.item_list[1]}}<a href="{{=it.item_list[1].url||'javacript:void(0)'}}" style="width:{{=ad_w1}}px;height:{{=(ad_w1/2)}}px;"><img class="lazy" src="/assets/img/blank.gif" data-original="{{=it.item_list[1].src}}"  alt="{{=it.item_list[1].title}}"></a>{{?}}
            {{?it.item_list[2]}}<a href="{{=it.item_list[2].url||'javacript:void(0)'}}" style="width:{{=ad_w1}}px;height:{{=(ad_w1/2)}}px;"><img class="lazy" src="/assets/img/blank.gif" data-original="{{=it.item_list[2].src}}"  alt="{{=it.item_list[2].title}}"></a>{{?}}
        </div>
    </div>
    {{?}}
    {{?it.prop.size==5}}
    {{var ad_w2=(window_width-24)/3;}}
    <div listorder="{{=it.listorder}}" class="image-ad2 clearfix images-tpl">
        <div class="clearfix">
            {{?it.item_list[0]}}<a href="{{=it.item_list[0].url||'javacript:void(0)'}}" style="width:{{=ad_w2}}px;height:{{=ad_w2}}px;"><img class="lazy" src="/assets/img/blank.gif" data-original="{{=it.item_list[0].src}}"  alt="{{=it.item_list[0].title}}"></a>{{?}}
            {{?it.item_list[1]}}<a href="{{=it.item_list[1].url||'javacript:void(0)'}}" style="width:{{=ad_w2*2}}px;height:{{=ad_w2}}px"><img class="lazy" src="/assets/img/blank.gif" data-original="{{=it.item_list[1].src}}"  alt="{{=it.item_list[1].title}}"></a>{{?}}
        </div>
        <div class="clearfix">
            {{?it.item_list[2]}}<a href="{{=it.item_list[2].url||'javacript:void(0)'}}" style="width:{{=ad_w2*2}}px;height:{{=ad_w2}}px"><img class="lazy" src="/assets/img/blank.gif" data-original="{{=it.item_list[2].src}}"  alt="{{=it.item_list[2].title}}"></a>{{?}}
            {{?it.item_list[3]}}<a href="{{=it.item_list[3].url||'javacript:void(0)'}}" style="width:{{=ad_w2}}px;height:{{=ad_w2}}px;"><img class="lazy" src="/assets/img/blank.gif" data-original="{{=it.item_list[3].src}}"  alt="{{=it.item_list[3].title}}"></a>{{?}}
        </div>
    </div>
    {{?}}
    {{?it.prop.size==6}}
    {{var ad_w3=(window_width-24)/2;}}
    <div listorder="{{=it.listorder}}" class="image-ad3 clearfix images-tpl">
        <div>
            {{?it.item_list[0]}}<a href="{{=it.item_list[0].url||'javacript:void(0)'}}" style="width:{{=ad_w3}}px;height:{{=(ad_w3/2)}}px;"><img class="lazy" src="/assets/img/blank.gif" data-original="{{=it.item_list[0].src}}"  alt="{{=it.item_list[0].title}}"></a>{{?}}
            {{?it.item_list[1]}}<a href="{{=it.item_list[1].url||'javacript:void(0)'}}" style="width:{{=ad_w3}}px;height:{{=ad_w3}}px;"><img class="lazy" src="/assets/img/blank.gif" data-original="{{=it.item_list[1].src}}"  alt="{{=it.item_list[1].title}}"></a>{{?}}
        </div>
        <div>
            {{?it.item_list[2]}}<a href="{{=it.item_list[2].url||'javacript:void(0)'}}" style="width:{{=ad_w3}}px;height:{{=ad_w3}}px;"><img class="lazy" src="/assets/img/blank.gif" data-original="{{=it.item_list[2].src}}"  alt="{{=it.item_list[2].title}}"></a>{{?}}
            {{?it.item_list[3]}}<a href="{{=it.item_list[3].url||'javacript:void(0)'}}" style="width:{{=ad_w3}}px;height:{{=(ad_w3/2)}}px;"><img class="lazy" src="/assets/img/blank.gif" data-original="{{=it.item_list[3].src}}"  alt="{{=it.item_list[3].title}}"></a>{{?}}
        </div>
    </div>
    {{?}}
    {{?it.prop.size==7}}
    {{ var ad_w4=(window_width-32)/3;}}
    <div listorder="5" class="image-ad4 clearfix images-tpl">
        <div>
            {{?it.item_list[0]}}<a href="{{=it.item_list[0].url||'javacript:void(0)'}}" style="width:{{=ad_w4}}px;height:{{=ad_w4}}px;"><img class="lazy" src="/assets/img/blank.gif" data-original="{{=it.item_list[0].src}}"  alt="{{=it.item_list[0].title}}"></a>{{?}}
            {{?it.item_list[1]}}<a href="{{=it.item_list[1].url||'javacript:void(0)'}}" style="width:{{=ad_w4}}px;height:{{=ad_w4}}px;"><img class="lazy" src="/assets/img/blank.gif" data-original="{{=it.item_list[1].src}}"  alt="{{=it.item_list[1].title}}"></a>{{?}}
        </div>
        <div>
            {{?it.item_list[2]}}<a href="{{=it.item_list[2].url||'javacript:void(0)'}}" style="width:{{=ad_w4}}px;height:{{=ad_w4}}px;"><img class="lazy" src="/assets/img/blank.gif" data-original="{{=it.item_list[2].src}}"  alt="{{=it.item_list[2].title}}"></a>{{?}}
            {{?it.item_list[3]}}<a href="{{=it.item_list[3].url||'javacript:void(0)'}}" style="width:{{=ad_w4}}px;height:{{=ad_w4}}px;"><img class="lazy" src="/assets/img/blank.gif" data-original="{{=it.item_list[3].src}}"  alt="{{=it.item_list[3].title}}"></a>{{?}}
        </div>
        <div>
            {{?it.item_list[4]}}<a href="{{=it.item_list[4].url||'javacript:void(0)'}}" style="width:{{=ad_w4}}px;height:{{=ad_w4*2+8}}px;"><img class="lazy" src="/assets/img/blank.gif" data-original="{{=it.item_list[4].src}}"  alt="{{=it.item_list[4].title}}"></a>{{?}}
        </div>
    </div>
    {{?}}
</script>
<script type="template/javascript" id="goods">
    <div  class="goods-list style-small">
        <% if (title) { %><h3><a href="javacript:void(0)"><%= title %><span>更多</span></a></h3><% } %>
        <ul class="clearfix">
            <% for (var i in item) { %>
            <li>
                <div class="goods-inner">
                    <a href="tmpl/product_detail.html?goods_id=<%= item[i].goods_id %>">
                        <div class="goods-img">
                            <img style="height: auto" class="lazy" src="assets/img/blank.gif" data-original="<%= item[i].goods_image %>">
                        </div>
                        <div class="goods-title"><%= item[i].goods_name %></div>
                        <div class="goods-info">
                            <span class="goods-price">￥<%= item[i].goods_promotion_price %></span>
                            <span class="goods-del"><del>￥<%= item[i].goods_marketprice %></del></span>
                            <span class="goods-sale">已售:<%= item[i].goods_salenum %></span>
                        </div>
                    </a>
                </div>
            </li>
            <% } %>
        </ul>
    </div>
</script>
	<script type="template/javascript" id="goods_search-tpl">
    <div listorder="{{=it.listorder}}" class="goods-search">
        <div class="topSearch">
            <form onsubmit="return false;">
                <div class="inp">
                    <input type="search" class="custom-search-input" placeholder="商品搜索：请输入商品关键字"></div>
                <a href="javascript:void(0);">搜索</a>
            </form>
        </div>
    </div>
</script>
	<script type="template/javascript" id="swiper-tpl">
    {{var window_width=document.body.clientWidth;}}
    <div listorder="{{=it.listorder}}" class="swiper-container listorder-{{=it.listorder}}" style="width:{{=window_width}}px; height:{{=window_width/2}}px;">
        <div class="swiper-wrapper">
            {{~it.item_list:value:index}}
            <div class="swiper-slide">
                {{?value.title}}<h3 class="title">{{=value.title}}</h3>{{?}}
                <a href="{{=value.url||'javacript:void(0)'}}"><img class="lazy" src="/assets/img/blank.gif" data-original="{{=value.src}}"></a>
            </div>
            {{~}}
        </div>
        <div class="pagination listorder-{{=it.listorder}}">
            {{~it.item_list:value:index}}
            <span class="swiper-pagination-switch"></span>
            {{~}}
        </div>
    </div>
</script>
	<script type="template/javascript" id="top_nav-tpl">
    {{?(item_list && item_list.length)}}
    <div listorder="{{=it.listorder}}" class="top-nav" style="background-color:{{=it.prop.bg_color}}">
        {{~it.item_list:value:index}}
        <a href="{{=value.url||'javacript:void(0)'}}" class="icon-{{=value.align}}"><img class="lazy" src="/assets/img/blank.gif" data-original="{{=value.img}}"></a>
        {{~}}
    </div>
    {{?}}
</script>
	<script type="template/javascript" id="goods_category-tpl">
    {{?(it.item_list && it.item_list.length)}}
    {{
        if(typeof(it.prop.size) == 'undefined')
        {
            it.prop.size=2;
        }
    }}
    <div listorder="{{=it.listorder}}" class="shop-category{{=it.prop.size}}">
        <ul class="clearfix">
            {{~it.item_list:value:index}}
            <li>
                <a style="background-color:{{=value.bg_color||'#fff'}}" href="{{=value.url||'javacript:void(0)'}}">
                    {{?value.img}}<i><img class="lazy" src="/assets/img/blank.gif" data-original="{{=value.img}}"></i>{{?}}
                    <div style="text-align:{{=it.prop.align||'left'}};color:{{=value.font_color||'#000'}}">{{=value.title}}</div>
                </a>
            </li>
            {{~}}
        </ul>
    </div>
    {{?}}
</script>
	<script type="template/javascript" id="text-tpl">
    {{?(it.param && it.param.content)}}
    <div listorder="{{=it.listorder}}" class="comp-text textareas">{{=it.param.content}}</div>
    {{?}}
</script>
	<script type="template/javascript" id="video-tpl">
    {{?(it.param && it.param.code)}}
    <div listorder="{{=it.listorder}}">{{=it.param.code}}</div>
    {{?}}
</script>
	<footer id="footer-fixed-edit-1">
		<ul class="menu-list">
			<li class="active"><a> <i class="iconfont"></i> <span>微店</span>
			</a></li>
			<li><a href="outlet.html"> <i
					class="iconfont"></i> <span>成为分销商</span>
			</a></li>
			<li><a href="http://cart.bama555.com/"> <i class="iconfont"></i>
					<span>购物车</span>
			</a></li>
			<li><a href="http://i.bama555.com/"> <i class="iconfont"></i>
					<span>我的</span>
			</a></li>
		</ul>
	</footer>
	<div id="footer-edit-1">
		<p class="deep-gray">
			Copyright © <a
				href="http://tzwl.bama555.com/mini_scene/view/U60665G5JB"
				style="text-decoration: none; color: #00a1ff;">杭州淘正网络技术有限公司</a>
		</p>
	</div>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/config.js"></script>
<script type="text/javascript" src="js/zepto.min.js"></script>
<script type="text/javascript" src="js/template.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/swipe.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript" src="js/tmpl/footer.js"></script>
<script type="text/javascript" src="http://rhztzw.shop.bama555.com/assets/js/wap/lazyload.js"></script>
</body>
</html>