/**
 * author : zhupinglei || 344184416@qq.com;
 * desc : common
 */

body{
	background: #f1f1f1;
}

header{
	position: fixed;
	left:0;
	top:0;
	width: 100%;
	height: 40px;
	background: #f4f4f4;
	border-bottom: 1px solid #ddd;
	z-index: 100;
}

/*直销版首页样式*/
header.header_edit_1 {
	box-shadow: 0 1px 2px rgba(204, 203, 203, 0.75);
	position: static;
	height: auto;
}

header.header_edit_1 .top_img img {
	width: 100%;
	display: block;
}

header.header_edit_1 .menu-list {
	background-color: #fff;
	position: relative;
}

header.header_edit_1 .menu-list li {
	width: 25%;
	text-align: center;
	float: left;
	padding: 5px 0;
}

header.header_edit_1 .menu-list li .portrait {
	position: absolute;
	left: 10px;
	bottom: 10px;
}

header.header_edit_1 .menu-list li .portrait img {
	width: 65px;
	height: 65px;
	border: 1px solid #fff;
	box-shadow: 0 1px 1px #f5f5f5;
}

header.header_edit_1 .menu-list li .shop-name {
	color: #fff;
	position: absolute;
	left: 85px;
	bottom: 48px;
	font-size: 18px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
}

header.header_edit_1 .menu-list li a {
	display: block;
	border-right: 1px solid #cccccc;
	text-decoration: none;
}

header.header_edit_1 .menu-list li:last-child a {
	border-right-width: 0;
}

header.header_edit_1 .menu-list li a > i {
	display: block;
	font-size: 16px;
	line-height: 20px;
	color: #000;
}

header.header_edit_1 .menu-list li a > i > label {
	font-weight: 600;
}

header.header_edit_1 .menu-list li a > span {
	display: block;
	font-size: 12px;
	line-height: 16px;
	color: #999;
}

header.header_edit_1 .menu-list:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
/*直销版商品详情模块样式*/
.layout {
	background-color: #fff;
	margin-bottom: 10px;
	border: 0 solid #dddddd;
	border-width: 1px 0;
	padding: 0 10px;
}

.layout .hd {
	font-size: 15px;
	color: #000;
	line-height: 32px;
	position: relative;
	border-bottom: 1px dotted #7f7f7f;
}

.layout .hd .remark {
	position: absolute;
	right: 10px;
	font-size: 12px;
	color: #ccc;
}

.info-list li {
	width: 33.33%;
	float: left;
	text-align: center;
	padding: 7px 0;
}

.info-list li a {
	display: block;
	border-right: 1px solid #ddd;
}

.info-list li:last-child a {
	border-right-width: 0;
}

.info-list li a > span {
	display: block;
}

.info-list li a > span.money {
	font-size: 15px;
	line-height: 21px;
	color: #000;
}

.info-list li a > span.name {
	font-size: 14px;
	line-height: 15px;
	color: #666;
}

.info-list:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
/**/

.put-desktop {
	display: block;
	background-color: #516478;
	color: #fff;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
}

div#footer-edit-1 {
	background-color: #fff;
	padding: 16px 0 58px 0;
	text-align: center;
}

div#footer-edit-1 p {
	margin-bottom: 10px;
	font-size: 14px;
}

div#footer-edit-1 p.deep-gray {
	color: #666;
}

div#footer-edit-1 p.gray {
	color: #999;
}

footer#footer-fixed-edit-1 {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: auto!important;
	border-top: 1px solid #e5e5e5;
	box-shadow: 0 -1px 1px #f7f7f7;
	z-index: 999;
	background-image: -moz-linear-gradient(top, #fff, #e7e7e7); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #e7e7e7)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#e7e7e7', GradientType='0'); /
}

footer#footer-fixed-edit-1 .menu-list li {
	width: 25%;
	text-align: center;
	float: left;
}

footer#footer-fixed-edit-1 .menu-list li a {
	color: #333;
	padding: 6px 0;
	display: block;
}

footer#footer-fixed-edit-1 .menu-list li a > i {
	display: block;
	font-size: 22px;
	line-height: 25px;
}

footer#footer-fixed-edit-1 .menu-list li a > span {
	display: block;
	font-size: 12px;
	line-height: 14px;
}

footer#footer-fixed-edit-1 .menu-list li.active a > span {
	color: #f60;
}

footer#footer-fixed-edit-1 .menu-list li.active a > i {
	color: #f60;
}

footer#footer-fixed-edit-1 .menu-list:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.pop-dialog {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}

.pop-dialog .bg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.9;
	background-color: #000;
}

.pop-dialog .body {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

.pop-dialog .body .close {
	position: absolute;
	right: 15px;
	top: 10px;
	color: #fff;
}

.pop-dialog .body .close i {
	font-size: 26px;
}

.pop-dialog .body .collect-img {
	width: 90%;
	position: absolute;
	right: 0;
	top: 0;
}

.pop-dialog .body .code-img {
	width: 220px;
	position: absolute;
	top: 40px;
	left: 50%;
	margin: 0 0 0 -110px;
}

.pop-dialog .body .remark {
	color: #fff;
	width: 80%;
	position: absolute;
	top: 270px;
	left: 10%;
	font-size: 12px;
	line-height: 20px;
}
/**/

.kai-dian{
	width:95%;
	margin:0 auto;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	text-align: center;
	background: #fff;
	box-shadow: 0px 0px 1px #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
}

.kai-dian a{
	display: block;
	height: 100%;
	overflow: hidden;
	color:#333;
	font-size:14px;
	text-decoration: none;
}

#wrap{
	width:100%;
	overflow:hidden;
	padding-bottom:10px;
}
#wrap{
    padding-top:41px;
}



header .rightIcon{
    float: right;
}

header .rightIcon a{
    display: inline-block;
    width:40px;
    height: 40px;
    overflow: hidden;
}

header .rightIcon a.info{
    background: url('../../img/wap/info.png') center center no-repeat;
    background-size:22px 20px;
}

header .rightIcon a.search{
    background: url('../../img/wap/se.png') center center no-repeat;
    background-size:25px 21px;
}

header .rightIcon a.cart{
    background: url('../../img/wap/cart.png') center center no-repeat;
    background-size:22px 19px;
}

#wrap a{
	color:#333;
	text-decoration: none;
}

#banner{
	width:100%;
	height: 160px;
	overflow: hidden;
	background: #333;
	position: relative;
}

#banner ul{
	height: 100%;
	position: relative;
}

#banner li{
	float: left;
	width:100%;
	height: 100%;
	overflow: hidden;
	display:inline-block;
	position: relative;
}

#banner li img{
	width:100%;
	height: 100%;
}

#banner li p{
	position: absolute;
	left:0;
	bottom:0;
	width:100%;
	height:30px;
	line-height: 30px;
	overflow: hidden;
	background: #000;
	opacity:0.7;
	color:#fff;
	padding-left:10px;
	box-sizing: border-box;
	font-size:14px;
}

#banner .bannerIndex{
	position: absolute;
	left:0;
	bottom:0;
	width:100%;
	height: 20px;
	text-align: center;
}

#banner .bannerIndex i{
	display: inline-block;
	width:6px;
	height: 6px;
	border-radius: 6px;
	overflow: hidden;
	background: #333;
	margin:0 2px;
}

#banner .bannerIndex i.hover{
	background: #fff;
}

#wrap .listMore{
	height: 35px;
	line-height: 35px;
	overflow: hidden;
	text-align: center;
	background: #fff;
	border:1px solid #ddd;
	border-radius: 5px;
	margin-top:10px;
	font-size:14px;
	font-weight: bold;
}
#wrap .submitbtn{
    background: #ff6600;
    border-radius: 2px;
    color: #fff;
    padding: 10px 50px;
    box-shadow: 0px 0px 1px #ccc;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}
#wrap .orange-font{
    color: #ff4400;
}
#wrap .green-font{
    color: green;
}
#wrap .gray-font{
    color: #999;
}
#wrap .blank-font{
    color: #000;
}
#wrapNew{
	width: 100%;
  	overflow-y: hidden;
  	padding-top: 50px;
  background: #fff;
}
footer{
	height: 67px;
	background: #e1e1e1;
	text-align: center;
	line-height: 22px;
}

footer p{
	padding-top:15px;
	font-size:14px;
}

footer a{
	font-size:12px;
	color:#999;
	text-decoration: none;
}

.loading{
	height: 200px;
	line-height: 200px;
	overflow: hidden;
	text-align: center;
	font-size:14px;
}

.backTop {
	display: block;
	background-color: #333;
	opacity: 0.8;
	position: fixed;
	bottom: 54px;
	right: 0;
	width: 40px;
	height: 40px;
	color: #fff;
	text-align: center;
	font-size: 40px;
	line-height: 21px;
	text-decoration: none;
	font-weight: 600;
}

#k_s_ol_floatWin_cls {width: auto!important;}
#ks_ol_floatWin_img {width: 46px;}

/*编辑人人店店铺名称*/
.edit-dialog {
	background-color: #efefef;
	position: fixed;
	top: 0;
	right: -100%;
	width: 100%;
	height: 100%;
	z-index: 999;
}

.edit-dialog .hd {
	background-color: #ff6700;
	color: #fff;
	text-align: center;
	font-size: 16px;
	line-height: 20px;
	padding: 12px 0;
	position: relative;
}

.edit-dialog .hd .back {
	position: absolute;
	left: 0;
	top: 0;
	padding: 12px 10px;
}

.edit-dialog .hd .back i {
	font-size: 16px;
	line-height: 20px;
	color: #fff;
}

.edit-dialog .hd .save {
	position: absolute;
	right: 0;
	top: 0;
	padding: 12px 10px;
	font-size: 14px;
	line-height: 20px;
	color: #fff;
}

.edit-dialog .bd {
	padding: 10px;
}
.qq-upload-button-selector{height: 80px}
.edit-dialog .bd label{float: left;line-height: 42px; font-size: 15px}
.edit-dialog .bd .input-group,.edit-dialog .bd .edit-logo-btn{ margin-left: 80px;}
.edit-dialog .bd .edit-logo-btn{text-align: center;line-height: 80px;border: 1px solid #dcdcdc;height:80px;width:80px; background-size: cover;}
.edit-dialog .bd .input-group {
	padding: 0 10px;
	border: 1px solid #dcdcdc;
	background-color: #fff;
}
.edit-logo-text{background: rgba(0,0,0,.5);color: #fff; line-height: 20px; position: absolute; bottom: 0; right: 0; left: 0;}

.edit-dialog .bd input {
	width: 100%;
	
	font-size: 15px;
	color: #000;
	line-height: 20px;
	padding: 11px 0;
}

/*focus*/
.btn {display: block;padding: 13px 0;font-size: 14px;line-height: 1;}
.btn-focus, .btn-focus:link, .btn-focus:visited {padding: 8px 12px;background-color: #33cd32;font-size: 14px;line-height: 16px;color: #fff;border-radius: 3px;}
.btn-green, .btn-green:link, .btn-green:visited {border: 1px solid #33cc33;border-radius: 6px;color: #33cc33;}
.focus-box {position: fixed;top: 0;left: 0;height: 50px;padding: 0;box-sizing: border-box;background-color:rgba(0, 0, 0,0.7);width: 100%;z-index: 999;color: #e1e1e1;font-size: 14px;}
.focus-box .btn-focus {position: absolute;right: 10px;top: 50%;margin-top: -15px;background-color: #26CB40;padding: 6px 12px;color: #fff!important;}
.focus-box .shop-names {position: absolute;left: 60px;top: 50%;margin-top: -16px;line-height: 16px;}
.focus-box .shop-names span {display: block;color: #fff;font-size: 12px;line-height: 16px;}
.focus-box .shop-names span label {color: #26CB40;}
.pop-dialog .body .code-box {background-color: #fff;position: absolute;top: 50%;left: 50%;width: 80%;margin-top: -194px;margin-left: -40%;text-align: center;border-radius: 3px;box-shadow: 0 0 8px #666;}
.pop-dialog .body .code-box p {font-size: 14px;color: #000;padding: 15px 0 0;}
.pop-dialog .body .code-box img {width: 80%;margin: 0 auto;}
.pop-dialog .body .footer {padding: 0 15px 15px;}

/*loading*/
.loading {position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 10001;}
.loader {position: absolute;top: 50%;left: 50%;width: 28px;height: 12px;margin: -6px 0 0 -14px;background: transparent;}
.dot-pink, .dot-blue {position: absolute;top: 0;width: 12px;height: 12px;border-radius: 100%;-webkit-animation: pink 1.5s ease infinite;animation: pink 1.5s ease infinite;}
.dot-pink {background: #e77a7a;left: -2px;}
.dot-blue {-webkit-animation-name: blue;animation-name: blue;background: #ffc54f;right: -2px;}

@-webkit-keyframes pink {
	0% {
		z-index: 100;
	}
	50% {
		z-index: 0;
		-webkit-transform: translateX(24px);
		transform: translateX(24px);
	}
}

@keyframes pink {
	0% {
		z-index: 100;
	}
	50% {
		z-index: 0;
		-webkit-transform: translateX(24px);
		transform: translateX(24px);
	}
}
@-webkit-keyframes blue {
	50% {
		z-index: 0;
		-webkit-transform: translateX(-24px);
		transform: translateX(-24px);
	}
}
@keyframes blue {
	50% {
		z-index: 0;
		-webkit-transform: translateX(-24px);
		transform: translateX(-24px);
	}
}


footer#footer-fixed-edit-2 {
	background-color: #f8f8f8;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 51px;
	border-top: 1px solid #e5e5e5;
	box-shadow: 0 -1px 1px #f7f7f7;
	z-index: 999;
	background-color: #efefef;
}

footer#footer-fixed-edit-2 .menu-list li {
	width: 25%;
	height: 51px;
	text-align: center;
	float: left;
}

footer#footer-fixed-edit-2 .menu-list li a {
	color: #333;
	padding: 6px 0;
	display: block;
}

footer#footer-fixed-edit-2 .menu-list li a > i {
	display: block;
	font-size: 22px;
	line-height: 25px;
}

footer#footer-fixed-edit-2 .menu-list li a > span {
	display: block;
	font-size: 12px;
	line-height: 14px;
}

footer#footer-fixed-edit-2 .menu-list li.active a > span {
	color: #fe9110;
}

footer#footer-fixed-edit-2 .menu-list li.active a > i {
	color: #fe9110;
}

footer#footer-fixed-edit-2 .menu-list:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.backMarket{
  width: 70px;
  height: 70px;
  position: fixed;
  right: 0px;
  bottom: 10%;
  background: rgba(0,0,0,0.65);
  z-index: 1000;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.backMarket i{  
  font-size: 32px;
  margin-top: 10px;
  display: block;
}
.backMarket p{  
  margin-top: 3px;
  font-size: 14px;
}
.recomList a{
	 color: #333;
  text-decoration: none;
  display: block;
}
.recomList .img{
	height: 150px;
  	overflow: hidden;
  	width: 100%;
}