#wrap{min-height: 600px}
body{
	background: #efefef;
}

a{
	text-decoration: none;
}

.tell-you{
    min-height: 40px;
    text-align: center;
    line-height: 40px;
    overflow: hidden;
}

input[type=radio]{
	-webkit-appearance : radio;
    border:none;
}

/*幻灯片组件*/
.swiper-container {
    width: 100%;
/*    height: 160px;*/
    margin:0 auto;
    position:relative;
    overflow:hidden;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    -o-backface-visibility:hidden;
    backface-visibility:hidden;
    /* Fix of Webkit flickering */
    z-index:1;
}
.swiper-wrapper {
    position:relative;
    width:100%;
    height: 100%;
    -webkit-transition-property:-webkit-transform, left, top;
    -webkit-transition-duration:0s;
    -webkit-transform:translate3d(0px,0,0);
    -webkit-transition-timing-function:ease;

    -moz-transition-property:-moz-transform, left, top;
    -moz-transition-duration:0s;
    -moz-transform:translate3d(0px,0,0);
    -moz-transition-timing-function:ease;

    -o-transition-property:-o-transform, left, top;
    -o-transition-duration:0s;
    -o-transform:translate3d(0px,0,0);
    -o-transition-timing-function:ease;
    -o-transform:translate(0px,0px);

    -ms-transition-property:-ms-transform, left, top;
    -ms-transition-duration:0s;
    -ms-transform:translate3d(0px,0,0);
    -ms-transition-timing-function:ease;

    transition-property:transform, left, top;
    transition-duration:0s;
    transform:translate3d(0px,0,0);
    transition-timing-function:ease;
}
.swiper-free-mode > .swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto;
}
.swiper-slide {
    position: relative;
    float: left;
}
.swiper-slide a {
    width: 100%;
    height: 100%;
    display: block;
}
.swiper-slide a img {
    display: block;
    width: 100%;
    /*height: 100%;*/
	height: auto;
    margin: 0 auto;
}
/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
    -ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
    -ms-touch-action: pan-x;
}

.swiper-slide .title {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 15px;
    z-index: 10;
    background-color: rgba(51,51,51,0.8);
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
}

.pagination {
    text-align: center;
    position: absolute;
    z-index: 20;
    left: 0;
    bottom: 5px;
    width: 100%;
}
.swiper-pagination-switch {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background: #222;
    margin-right: 5px;
    opacity: 0.8;
    border: 1px solid #fff;
    cursor: pointer;
}
.swiper-visible-switch {
    background: #aaa;
}
.swiper-active-switch {
    background: #fff;
}

/*商品搜索*/
.goods-search .topSearch{
    /*height: 45px;*/
    padding:10px;
    background: #fff;
    box-shadow: 0px 0px 1px #ccc;
}

.goods-search .topSearch .inp{
    height: 28px;
    overflow: hidden;
    width:80%;
    float: left;
}

.goods-search .topSearch .inp input{
    display: block;
    width:100%;
    padding-left:25px;
    height: 100%;
    background: url('../img/search.png') 5px center no-repeat #f1f1f1;
    background-size:16px 16px;
    box-shadow: inset 0px 1px 1px #ccc;
    border-radius: 4px;
    overflow: hidden;
    box-sizing:border-box;
}

.goods-search .topSearch a{
    display: inline-block;
    width:17%;
    margin-left:3%;
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    text-align: center;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#eee));
    background: #f60;
    color:#fff;
    box-shadow: 0px 0px 1px #ccc;
    border-radius: 3px;
}

#wrap .goods-search .topSearch a{
	color:#fff;
}

.nav-list{
    border-bottom: 1px solid rgba(0,0,0,0.1);
	margin-bottom:8px;
	background: #fff;
	overflow: hidden;
}

.nav-list.nav-style2 li.nav-item{
	width:50%;
	float: left;
}

.nav-list.nav-style3 li.nav-item{
	width:33.333333333%;
	float: left;
}

.nav-list.nav-style4 li.nav-item{

     width:25%;
     float: left;
 }

.nav-list li.nav-item a{
	display: block;
	overflow: hidden;
	text-align: center;
	color:#fff;
}
.nav-list li.nav-lh0 .nav-title{line-height: 30px}
.nav-list li.nav-lh1 .nav-title{line-height: 20px}
.nav-list li.nav-lh1{ height:52px}

.nav-list li.nav-item a i{ width: 25px; height: 25px; margin:6px auto 0; display: block;}
.nav-list li.nav-item a i img{ width: 100%; height: 100%}
.nav-list li.nav-item a .nav-title{
    color: #333;
	text-overflow:ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.image-list{
	background: #fff;
	box-shadow: 0px 0px 1px #ccc;
	margin-bottom:8px;
	overflow: hidden;
}
.image-list ul{
	height: 100%;
	overflow: hidden;
}
.image-list.style0,.image-list.style0 ul{
    padding: 0;
}
.image-list.style0 ul li{
    display: block;
}
.image-list.style1,.image-list.style2,.image-list.style3{padding-bottom: 8px}
.image-list.style1 ul li img{ /*height: 100%*/ height: auto;}
.image-list.style1 ul li{
	display: block;
	height: 160px;
	margin:8px 8px 0;
}
.image-list.style3 ul li{
	float: left;
	width:33.33333%;
	height: 130px;
    box-sizing: border-box;
    padding:8px 0 0 8px;
}
.image-list.style2,.image-list.style3{padding-right: 8px}
.image-list.style2 ul li{
    box-sizing: border-box;
    padding: 8px 0 0 8px;
    width:50%;
	float: left;
}
.image-list ul li a{
	display: block;
	height: 100%;
}

.image-list ul li a p{
	display: none;
}

.image-list.style1 ul li a p{
	display: block;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	margin-top:-30px;
	position: relative;
	z-index: 1;
	background: rgba(0,0,0,0.7);
	color:#fff;
	padding:0 10px;
}

.image-list ul li a img{
	width:100%;
	background: #f1f1f1;
}

.image-list.style2 ul li a img,.image-list.style3 ul li a img{
	width:100%;
	height:100%;
}

.goods-category{
	background: #fff;
	box-shadow: 0px 0px 1px #ccc;
	margin-top:8px;
	padding:8px 1.333% 0;
}

.goods-category ul{
	width:100%;
	overflow: hidden;
}

.goods-category li{
	float: left;
	width:48%;
	margin:1px 1%;
	height: 35px;
	line-height: 35px;
	overflow: hidden;
	box-shadow: 0px 0px 1px #999;
	background: -webkit-gradient(linear,0% 0%, 0% 100%, from(#f5f5f5), to(#e9e9e9));
	margin-bottom: 8px;
}

.goods-category li a{
	display: block;
	height: 100%;
}

.goods-category li img{
	float: left;
	width:26px;
	height: 26px;
	margin:5px;
/*	background: #ccc;*/
	margin-right:10px;
}

.goods-category li span{
	color:#333;
	font-size:14px;
}

/*商品*/
.label-waring {
    margin-left: 10px;
    background-color: #fd6801;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    padding: 1px 5px;
    display: inline-block;
}
.goods-list {
    background: #fff;
    margin-bottom:8px;
    border-bottom: 1px solid #eee;
}
.goods-list h3 {
    border-bottom: 1px solid #eee;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    overflow: hidden;
    padding:0 8px 0 0;
}
.goods-list h3 a {
    border-left: 4px solid #f60;
    padding-left: 8px;
    display: block;
    color: #333;
    background: url(../img/arr.png) right center no-repeat;
    background-size: 4px 8px;
}
.goods-list h3 a span{
    color: #666;
    float: right;
    font-weight: normal;
    font-size: 12px;
    padding-right: 8px;}
.style-big ul li {
    padding: 8px 8px 0;
}
.style-big ul li .goods-inner {
    border-bottom: 1px solid #eee;
    padding: 0 0 8px 0;
}
.goods-list ul li:last-child .goods-inner {
    border-bottom: 0;
}
.style-big ul li .goods-title {
    font-size: 14px;
    color: #333;
    line-height: 20px;
    padding: 8px 5px
}
.style-big ul li .goods-info .goods-price {
    font-weight: 700;
    color: #f60;
    font-size: 18px;
}
.style-big ul li .goods-info .goods-del, .style-big ul li .goods-info .goods-sale {
    color: #999;
    margin-left: 10px;
    font-size: 12px
}
.goods-list.style-big > ul > li .goods-inner > a {display: block;}
.goods-list.style-big > ul > li .goods-inner > a > .goods-img img {width: 100%;}
.smallgoods-img{display: inline-block;width: 100%;height: 100%;}
.goods-list.style-small ul {
    padding: 8px 8px 0 0;
}
.goods-list.style-small ul li {
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding: 0 0 8px 8px
}
.goods-list.style-small ul li .goods-inner {
    border: 1px solid #eee;
}
.style-small ul li img{height: 148px}
.style-small ul li .goods-title {
    font-size: 14px;
    padding: 0 5px;
    height: 30px;
    line-height: 15px;
    overflow: hidden;
    color: #333;
    word-break: break-all;
    text-overflow: ellipsis;
    margin: 6px 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.style-small ul li .goods-info {
    height: 21px;
    box-sizing: content-box;
    border-top: 1px #ddd dotted;
    padding: 5px 0 5px 5px;
    position: relative;
}
.style-small ul li .goods-info .goods-price {
    font-weight: 700;
    color: #f60;
    font-size: 14px;
    line-height: 21px;
}
.style-small ul li .goods-info .goods-del {
    color: #999;
    margin-left: 10px;
    font-size: 10px;
    line-height: 21px;
}
.style-small ul li .goods-info .goods-sale {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    bottom:74px;
    left:0;
    padding: 5px;
    text-align: right;
}
.style-small ul li .goods-info .label-waring{
    display: none;
}
.goods-list.style-list ul li {
    box-sizing: border-box;
    padding:8px 8px 0 8px;
    margin-bottom: -1px
}
.goods-list.style-list ul li .goods-inner {
    border-bottom: 1px solid #eee;
    padding-bottom: 8px;
    overflow: hidden;
    position: relative;
}
.goods-list.style-list ul li .goods-img {
    height: 100px;
    width: 100px;
    float: left;
    margin-right: 10px;
    position: relative;
}
.goods-list.style-list ul li .goods-img img {
    width: 100%;
    height: 100%;
}
.goods-list.style-list ul li .goods-title {
    margin-top: 8px;
    font-size: 14px;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    color: #333;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}
.goods-list.style-list ul li .goods-info {
    position: absolute;
    bottom:8px;
    right: 0;
    left:98px;
    line-height: 24px;
}
.style-list ul li .goods-info .goods-price {
    margin-left: 10px;
    font-weight: 700;
    color: #f60;
    font-size: 16px;
}
.style-list ul li .goods-info .goods-del, .style-list ul li .goods-info .goods-sale {
    color: #999;
    margin-left: 10px;
    font-size: 12px
}
/*end商品*/
.textareas{
	background: #fff;
	padding:8px;
	box-shadow: 0px 0px 1px #ccc;
	margin-top:8px;
}

.textareas img{
	width:auto;
	max-width: 100%;
	height: auto!important;
}
/*店招*/
.shop-banner-box{padding-bottom: 38px; background: #fff}
.shop-banner{height: 0; width: 100%;padding-bottom:33.333%; background-color: #ccc; background-position: center center; background-repeat: no-repeat; background-size:100% auto;  position: relative;}
.shop-logo{width: 55px;height: 55px; border: 2px solid #ccc; background: #fff;position: absolute;left:15px; bottom:-24px; }
.shop-name{position: absolute;left:85px; bottom:0;line-height:30px;font-size: 16px;font-weight: 600;text-shadow: 0px 0px 2px #333;}
.shop-desc{position: absolute;left:85px; bottom:-24px;line-height:24px;font-size: 14px;color: #ccc}

.shop-category1{border-top: 1px solid #eee;border-bottom: 1px solid #eee; background: #fff; padding: 5px;margin-bottom:8px}
.shop-category1 ul li{box-sizing: border-box; float: left;width: 25%; text-align: center;border-right: 1px solid #f8f8f8; }
.shop-category1 ul li:nth-child(4){border: 0}
.shop-category1 ul li i{ width: 50px; height: 50px; display: block; margin: 0 auto;}
.shop-category1 ul li i img,.shop-category2 ul li i img{width:100%; height:100%; display: block;}
.shop-category1 ul li a{ width: 100%; color: #666;padding: 10px 0;display: block;}
.shop-category1 ul li a div{ line-height: 28px; font-size: 14px}
.shop-category2{box-sizing: border-box;padding:8px 0 0 8px;background: #f8f8f8;}
.shop-category2 ul li{position: relative; width:50%;margin-bottom:8px; padding-right:8px; box-sizing: border-box; float: left;}
.shop-category2 ul li div{padding:8px; line-height: 30px;font-size: 14px}
.shop-category2 ul li a{ display: block}
.shop-category2 ul li i{width:30px; height:30px; border-radius: 4px; margin:8px; float: left; display: block;}
.shop-category3{box-sizing: border-box;padding-left:8px; padding-top:8px; margin-bottom:8px;background: #fff; border-top: 1px solid #eee;border-bottom: 1px solid #eee;}
.shop-category3 ul li{position: relative; width:50%;margin-bottom:8px; padding-right:8px; box-sizing: border-box; float: left;}
.shop-category3 ul li div{ display: none}
.shop-category3 ul li a{ display: block}
.shop-category3 ul li i{background: #ccc; width:100%; float: left; display: block;}

.image-ad,.image-ad2,.image-ad3,.image-ad4,.image-ad5{ border-top: 1px solid #eee;border-bottom: 1px solid #eee; padding:0 8px 8px 0;background: #fff;margin-bottom:8px;}
.image-ad>div,.image-ad3>div,.image-ad4>div{float: left}
.image-ad>div>a,.image-ad3>div>a,.image-ad4>div>a{background-color: #f1f1f1;background-size: 100% 100%; background-repeat: no-repeat;  display: block;margin: 8px 0 0 8px}
.image-ad2>div>a{background-color: #f1f1f1;background-size: 100% 100%; background-repeat: no-repeat;  display: block;float: left; margin: 8px 0 0 8px}
.top-nav { height: 44px;text-align: center; z-index: 900; line-height: 44px; position: relative}
.icon-0{display: none}
.icon-left{position: absolute;left: 0;top: 0;width: 44px;height: 44px;line-height: 36px;text-align: center;}
.icon-right{position: absolute;right: 0;top: 0;width: 44px;height: 44px;}
.page-center{position: absolute; left:50%;margin-left:-22px; top:0px;width:44px; height:44px;display: block;}
.images-tpl img,.top-nav a img{width: 100%; height: 100%;}
